<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid fixed-top">
  <a class="navbar-brand" routerLink="/dashboard"><strong>Automobile</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto text-end">
      <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke" routerLink="/register" >Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/login"  style="color:whitesmoke" >Login</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" (click)="logoutuser()" style="color:whitesmoke">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" style="color:whitesmoke"><i class="btn btn-danger fas fa-cart-plus" routerLink="/cart"></i>
          <div style="font-size: 13px" class="badge" [hidden]="cart">
            {{ totalItem }}
          </div>
        </a>
      </li>
      <li class="nav-item"  >
        <a class="nav-link mt-1" style="color:whitesmoke">{{userEmail}}</a>
      </li>
    </ul>
  </div>
</nav>

