<!-- Section: Design Block -->
 
  <!-- <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style> -->

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5 bg-info">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-2 mx-auto mb-lg-0 position-relative">
        <div id="radius-shape-1" class="mx-auto mt-5    col-7   rounded"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="loginForm" (ngSubmit)="getFormValue()">

              <div class="form-group">
                <label class="form-label" for="form3Example1">UserName</label>
                <input type="text" id="form3Example1" class="input-sm form-control" name="username"
                  formControlName="userName" />
              </div>


              <div class="form-group">
                <label class="form-label" for="form3Example3">Email address</label>
                <input type="email" id="form3Example3" class="form-control" name="Email" formControlName="Email" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                  <input type="password" id="form3Example4" class="form-control" name="Password"
                  formControlName="Password" />    
              </div>

              <button class="btn btn-primary btn-block mb-4 login" [disabled]="loginForm.invalid">
                Login
              </button>

              <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                <p style="font-size: 20px; color: white">Please Wait...</p>
              </ngx-spinner>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 